<div class="jeu-container">
  <!-- Partie haute -->
  <div class="haut-container">
    <!-- Joueur 1 -->
    <div class="joueur-container">
      <h3>Joueur 1: {{ partie.nomJoueur1 }}</h3>
      <div *ngIf="partie.joueur1bot">
        <mat-icon>smart_toy</mat-icon>
        <p>Bot</p>
      </div>
      <div *ngIf="!partie.joueur1bot">
        <!-- Historique -->
        <table class="historique">
          <tr>
            <th>Adversaire</th>
            <td *ngFor="let decision of getHistorique('joueur2')">
              {{ decision || ' ' }}
            </td>
          </tr>
          <tr>
            <th>Vous</th>
            <td *ngFor="let decision of getHistorique('joueur1')">
              {{ decision || ' ' }}
            </td>
          </tr>
          <tr>
            <th>Résultat</th>
            <td *ngFor="let tour of partie.historique">
              {{ tour.gainJoueur1 }}
            </td>
          </tr>
        </table>
        <p class="score-total">Score Total : {{ getScoreTotal('joueur1') }}</p>
        <!-- Actions -->
        <div class="actions">
          <button
            mat-raised-button
            color="warn"
            (click)="prendreDecision('joueur1', Decision.TRAHIR)"
            [disabled]="!joueur1PeutJouer"
          >
            Trahir
          </button>
          <button
            mat-raised-button
            color="primary"
            (click)="prendreDecision('joueur1', Decision.TRAHIR)"
            [disabled]="!joueur1PeutJouer"
          >
            Coopérer
          </button>
        </div>
      </div>
    </div>

    <!-- Joueur 2 -->
    <div class="joueur-container">
      <h3>Joueur 2: {{ partie.nomJoueur2 }}</h3>
      <div *ngIf="partie.joueur2bot">
        <mat-icon>smart_toy</mat-icon>
        <p>Bot</p>
      </div>
      <div *ngIf="!partie.joueur2bot">
        <!-- Historique -->
        <table class="historique">
          <tr>
            <th>Adversaire</th>
            <td *ngFor="let decision of getHistorique('joueur1')">
              {{ decision || ' ' }}
            </td>
          </tr>
          <tr>
            <th>Vous</th>
            <td *ngFor="let decision of getHistorique('joueur2')">
              {{ decision || ' ' }}
            </td>
          </tr>
          <tr>
            <th>Résultat</th>
            <td *ngFor="let tour of partie.historique">
              {{ tour.gainJoueur2 }}
            </td>
          </tr>
        </table>
        <p class="score-total">Score Total : {{ getScoreTotal('joueur2') }}</p>
        <!-- Actions -->
        <div class="actions">
          <button
            mat-raised-button
            color="warn"
            (click)="prendreDecision('joueur2', Decision.TRAHIR)"
            [disabled]="!joueur2PeutJouer"
          >
            Trahir
          </button>
          <button
            mat-raised-button
            color="primary"
            (click)="prendreDecision('joueur2', Decision.COOPERER)"
            [disabled]="!joueur2PeutJouer"
          >
            Coopérer
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Partie basse -->
  <div class="bas-container">
    <button mat-raised-button color="accent" (click)="avancerTour()" [disabled]="!peutAvancer">
      Avancer
    </button>
  </div>
</div>
